[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/Stehfyn/glm.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/Stehfyn/imgui.git
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/Stehfyn/assimp.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/Stehfyn/glfw.git
